* {
    font-family: 'Lato';
}


/* header sytles  */
.header {
    background: rgba(229, 84, 115, 0.10);
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-info {
    width: 50%;
}

.header-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 30px;
}

.header-des {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.btn {
    background: #E55473;
    border-radius: 8px;
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    margin-bottom: 30px;
}

/* main styles star  */

/* featured style start  */


.featured {
    margin: 100px 300px;



}


.featured-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.featured-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    margin-bottom: 25px;
}

.featured-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}


.featured-img1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 90px 70px 0px 70px;

}

.featured-img2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 50px 30px 0px 30px;

}

.featured-img3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 90px 30px 0px 30px;

}
.flower-title {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}


.section2 {
    max-width: 1440px;
    background: rgba(229, 84, 115, 0.05);
    border-radius: 8px;
    margin: 100px auto;
    padding-top: 20px;

}

.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;


}

.contact-img {
    height: 88px;
    width: 88px;
}

.contact-title {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-left: -90px;

}


.hot-deal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(229, 84, 115, 0.05);
    border-radius: 8px;
    margin-top: 120px;
    padding: 45px;

}


.deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.title-off {
    color: #E55473;
    font-size: 40px;
    font-weight: 800;
}

.deal-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.deal-btn {
    background: #E55473;
    border-radius: 8px;
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    margin-left: 200px;
   
   
}